{% extends "recommend/base.html" %}
{% load static %}

{% block title %}|About{% endblock title %}

{% block content %}
<br>
<br>
<div class= "container mt-3">
    <div class="row">
        <div class="col-sm-8 offset-2">
  
        <main >
            <section>
            <h5><b>  About Our Electronics Product Recommendation System</b></h5>
            </section>
            <br>
            <section>
                <h5>Our Mission</h5>
                <p>
                    At ElectroPulse, our mission is to streamline the process of finding the right electronics that suit your needs, preferences, and budget. We understand the overwhelming array of choices in the electronics market, and our goal is to make your shopping journey easier, quicker, and more efficient.
                </p>
            </section>
            
            <section>
                <h5>How It Works</h5>
                <p>
                    Using advanced machine learning algorithms and data analysis techniques, our recommendation system evaluates vast amounts of data—considering product specifications, user reviews, expert opinions, and more—to suggest tailored recommendations just for you.
                </p>
                <p>
                    Whether you're searching for smartphones, laptops, cameras, or any other electronic gadget, our system narrows down the options to match your specific requirements.
                </p>
            </section>
            
            <section>
                <h5>Your Satisfaction, Our Priority</h5>
                <p>
                    Your satisfaction is our driving force. We continuously strive to enhance our recommendation system, incorporating feedback and refining our algorithms to ensure a seamless and satisfying experience for every user.
                </p>
            </section>
            
            <section>
                <h4>Connect With Us</h4>
                <p>
                    We value your feedback and input. Feel free to reach out to us with any questions, suggestions, or concerns. Your insights help us improve our system and better serve your needs.
                </p>
                <ul>
                    <li>Email: hamdansidz@gmail.com</li>
                </ul>
            </section>
        </main>

        <footer>
            <p>Thank you for choosing ElectroPulse for your electronics shopping journey. Let's find the perfect products for you together!</p>
        </footer>
            
        </div>
    </div>
</div>

{% endblock content %}