{% extends "recommend/base.html" %}
{% load static %}



{% block content %}
    <br>
    <br>
    <div class= "container mt-3">
        <div class="row">
            <div class="col-sm-8 offset-2">

                <h1>
                    ElectroPulse
                </h1>
                <h6>An Electronic Product Recommendations System</h6>
                <br>
                <p>
                    Welcome to ElectroPulse!
                    Looking for the latest and greatest in electronics? Look no further! We provide comprehensive reviews, comparisons, and recommendations for a wide range of electronics products to help you make informed decisions.
                </p>
                <p>
                    At ElectroPulse, our team of tech enthusiasts is dedicated to researching and reviewing the latest electronic devices and gadgets. With years of experience in the tech industry, we aim to simplify your buying process by offering unbiased recommendations tailored to your needs and preferences.
                </p>

            </div>
        </div>
    </div>


{% endblock content %}